.btn {
  background-color: $white;
  color: $dark;
  font-size: 1.5rem;
  border: 1px solid $dark;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    background-color: darken($color: $white, $amount: 10);
  }
  &.btn-primary {
    background-color: $primary;
    color: $white;
    &:hover {
      cursor: pointer;
      background-color: darken($color: $primary, $amount: 10);
    }
  }
}
